.vscode 
__pycache__ 
app/__pycache__ 
migrations/__pycache__ 
pehla_virtualenv 
pehla_virtualenv/ 
__pycache__
virtenv
config.pyc pehlaflaskapp.pyc wsgi.pyc
logs
.env
db_files/
migrations/versions/__pycache__/ 
migrations/versions/__pycache__ 
.idea/ 
virtualenv 
