{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <img src="../static/register.png" style="padding: 0;
                    display: block;
                    margin: 0 auto;
                    max-height: 100%;
                    max-width: 100%;">
        </div>
    </div>
{% endblock %}

